body {
    margin: 0 auto;
    width: 1000px;
    background-color: #1f2937;
    color: white;
    max-width: 700px;
    
}

header {
    border-bottom: 2px solid #2f3e53;
}

h1 {
    font-size: 77px;
    margin: 0px;
    margin-top: 50px;
    margin-bottom: 30px;
}

h1 span {
    color: #4adf86;
}

header p {
    color: #d5d4d8;
    font-size: 30px;
    margin: 0px;
    margin-bottom: 90px;
}

button {
    width: 300px;
    height: 70px;
    font-size: 25px;
    background-color: #10b981;
    color: white;
    border: none;
    border-radius:10px;
    margin-bottom: 50px;
}

#pw-main-container {
    margin-top: 50px;
    /* background-color: red; */
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

#pw-output-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: pink; */
}

.pw-container {
    border-radius: 8px;
    width: 47%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #273549;
    /* background-color: red; */
}

.pw-container p {
    color: #55f991;
    font-size: 25px;
}